@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom right;
  }
  50% {
    transform: rotate(-10deg);
    transform-origin: bottom right;
  }
  100% {
    transform: rotate(20deg);
    transform-origin: bottom right;
  }
}

@keyframes hue-change {
  0% {filter:hue-rotate(0deg);}
  25% {filter: hue-rotate(90deg);}
  50% {filter: hue-rotate(180deg);}
  75% {filter: hue-rotate(270deg);}
  100% {filter: hue-rotate(360deg);}
}

:root {
  --e-global-color-primary: #F4EFEA;
  --e-global-color-secondary: #161616;
  --e-global-color-text: #F4EFEA99;
  --e-global-color-accent: #FF7655;
  --e-global-color-10f0bb9: #F4EFEA;
  --e-global-color-f90294a: #FF7655;
  --e-global-color-7eb3f77: #F4EFEA99;
  --e-global-color-d597e6a: #F4EFEA1A;
  --e-global-color-2731c26: #161616F0;
  --e-global-color-6d2ce7d: #484A8C;
  --e-global-color-7c0dadd: #30325D;
  --e-global-color-183e2b3: #303030;
  --e-global-color-742f86c: #161616;
  --e-global-color-51ab0ab: #080808;
  --e-global-color-cea1b5d: #00000000;
  --e-global-color-a2fdaf4: #999999;
  --e-global-color-7a747d4: #488C74;
  --e-global-color-a1363cb: #7275DE;
  --e-global-color-ded73d2: #F4EFEA33;
  --e-global-color-94ab175: #30E3B4;
  --e-global-color-38bf27c: #FFB355;
  --e-global-color-81b495c: #222222;
}


.bg {
  background-image: linear-gradient(#6a6a6a3f 1px, transparent 2px), linear-gradient(to right, #6a6a6a47 1px, rgba(4, 4, 6, 0.293) 2px);
  /* background-image: linear-gradient(#00ac173f 1px, transparent 1px), linear-gradient(to right, #009c1547 1px, rgba(4, 4, 6, 0.293) 1px); */
  background-size: 30px 30px;
}

.bg-gradient-1 {
  background-image: linear-gradient(#7275DE77,transparent);
  animation: hue-change 10000ms linear 0ms infinite alternate both;
  filter: saturate(20%) opacity(5%);
}
.bg-gradient-2 {
  background-image: linear-gradient(transparent,#FFB35577,transparent);
}

.download-btn {
  animation: hue-change 10000ms linear 0ms infinite alternate both;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ring-around {
  box-shadow: 0 0 0 2px black, 0 0 0 6px rgba(183, 43, 85, 0.525);
  transition: 1000ms;
}
.ring-around:hover {
  box-shadow: 0 0 0 2px black, 0 0 0 6px rgba(183, 43, 85, 0.9);
  transition: 1000ms;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* cursor: none; */
  text-decoration: wavy;
  text-decoration-color: #30E3B4;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* body::before,
body::after {
  position: absolute;
  left:0;
  top:0;
  content:'';
  width:100%;
  height:200%;
  z-index: 9;

  opacity: 30%;
} */
/* body::after {
  filter:url(#grainy);
} */

.above {
  z-index: 110;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  background-color: rgb(38, 38, 38);
  width:10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(69, 69, 69);
}

::selection {
  color:black;
  background-color: rgba(197, 29, 62, 0.756);
}

::-moz-selection {
  color:black;
  background-color: rgba(205, 29, 64, 0.729);
}

.grainy {
  filter: url(#grainy);
}

.panel::after {
  content:'';
  filter: url(#grainy);
}

.wave-hand {
  position: relative;
  animation: wave-hand 1000ms linear 10ms infinite alternate;
}

.wavy-underline {
  text-decoration: wavy;
  text-decoration-color: crimson;
}

.my-name {
  /* filter: drop-shadow(0 0 100px 20px black); */
  background: -webkit-linear-gradient(45deg,#eee, #ccc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
